@font-face {
    font-family: "8bitoperator JVE";
    src: url(graphics/8bitoperator_jve.ttf);
}

body {
    background-color: #101014;
    margin: 0;
}

* {
    font-family: "8bitoperator JVE", sans-serif;
    font-weight: normal;
}

aside{
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: #434357;
}

aside a{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    transition: width 0.2s;
}

aside a:hover{
    background-color: rgb(53 53 69);
    width: 90%;
}


aside a img{
    width: 100%;
}

#selectedGame{
    width: 90%;
    background-color: #7ae49d;
}

#main{
    margin-left: 80px;
    padding: 15px;
}

@media screen and (max-width: 768px){
    aside {
        top: 0;
        width: 100%;
        height: 70px;
        flex-direction: row;
    }

    aside a:hover{
        height: 90%;
        width: auto;
    }

    aside a img{
        width: auto;
        height: 100%;
    }

    #selectedGame{
        height: 90%;
        width: auto;
    }

    #main{
        margin-left: 0;
        margin-top: 70px;
    }
}